<footer class="footer" id="footer">
    <div class="container-footer">
        <!--<div class="footer__feed-back">
            <form action="">
                <label for="">Подпишись на нашу рассылку
                    <input type="email" class="" placeholder="Ваш E-mail">
                </label>
                <button>Подписаться</button>
            </form>
        </div>-->
        <div class="footer__wrapper">
            <div><ul>
                <li>Разделы</li>
                <li><a href="{% url 'base_view' %}">Аналитика</a></li>
                <li><a href="{% url 'raitings_list' %}">Рейтинги</a></li>
                <li><a href="{% url 'video_view' %}">Видеообзоры</a></li>
                <li><a href="{% url 'events_view' %}">Календарь</a></li>                
            </ul></div>
            <div><ul>
                <li>Мы в соц сетях</li>
                <li><a href="https://www.instagram.com/kh_business_review/">Instagram</a></li>
                <li><a href="https://www.facebook.com/KhBusinessReview/">Facebook</a></li>
                <li><a href="https://www.youtube.com/channel/UCFOkaFk_FxafZg3T8nqR9sA/featured?view_as=subscriber">YouTube</a></li>
                <li><a href="https://t.me/KH_business">Telegram</a></li>
                <li><a href=" https://www.linkedin.com/showcase/khbr/about/?viewAsMember=true">Linkedin</a></li>
                <li><a href="http://www.kbr.hneu.edu.ua/">Сайт</a></li>
                <li><a href="m.me/KhBusinessReview">Мессенджер</a></li>
            </ul></div>
            <div class="footer__navigation">
                <ul>
                    <li>Наши контакты</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a>61166 Украина, Харьков, переулок Инженерный, 1-А
                    </a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>
                        <a>+380 66 731 33 20</a></li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <a>khbreview@gmail.com</a></li>
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyrights">
        &#169;	Все права защищены, 2019
    </div>
</footer>