{% extends 'index.html' %}
{% load embed_video_tags %}
{% block content %}
<section class="video-view" id="video-view">
        <h1 class="video-view-title">Видеообзоры</h1>
       <div class="container__video-view">
        {% for video in videos %}

            <div class="video-view__space">
    
                <iframe width="100%" height="550" src="{{ video.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a href="{{ video.url }}"><h3 class="video-title">{{ video.title }}</h3></a>
                <p class="video-content">{{ video.notes|truncatewords:40 }}</p>
            </div>
        {% endfor %}

        </div>
    </section> 
{% endblock content %}



